body, html {
    margin: 0px;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1;
    background-color: #FFEFD5;
    display: grid;
    grid-template-rows: 110px auto;
    grid-template-columns: 1fr;
    align-items:center;
}
* {
    box-sizing: border-box;
}
.header{
    height: 100%;
    width:100%;
    padding: 10px;
    margin: 0;
    background-color: white;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
.header_logo{
    width: 10%;
    height: 40%;
    object-fit: cover;
}
.main{
    margin: 10px 30px 10px 30px ;

}
.container{
    width: 100%;
    padding: 1% 3% 3% 3%;
}
.content{
    width: 50%;
}

.video_tutorial{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video_tutorial iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

.dishes{
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    cursor: pointer;
}
.dish_name{
    display: grid;
    width: 160px;
    grid-template-rows: 100px auto;
    grid-template-columns: auto;
    justify-items: center;

}
.dish_name > h3{
    overflow-wrap: normal;
}
.dishPic{
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
}
img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.meal_type{
    list-style-type: none;
    font-size: 20px;
    line-height: 1.5;
    cursor: pointer;
}