body, html {
    margin: 0px;
}
body {
    font-family: Roboto, sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1;
}
* {
    box-sizing: border-box;
}
.header{
    width: 30%;
    overflow: hidden;
}
.header_logo{
    width: 50%;
    height: 100%;
    object-fit: cover;
    padding: 0%;
    margin: 0%;
}
.tabcontainer{
    width: 30%;
}
.box{
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
}
img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.video_tutorial{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video_tutorial iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}